@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --icon-color: #991b1b ;
}
svg{
  transition: .5s ease-in;
}
input[type="checkbox"] {
  accent-color: var(--icon-color);
  }
.slide-item{
  position: relative;
}
.slide-item::before{
  content: ""; /* Required for pseudo-elements */
  position: absolute; /* Position the overlay absolutely within the container */
  top: 0;
  left: 0;
  width: 100%; /* Cover the entire container width */
  height: 100%; /* Cover the entire container height */
  background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
  pointer-events: none;
}
.redBg{
  background-color: var(--icon-color);
}
.redColor{
 color: var(--icon-color);
}
.red svg{
  color: var(--icon-color);
}
.icon{
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
}
.k-card-body > .k-card-actions {
  margin-top: 20px;
}
.k-card-image{
  padding: 3rem;
}
.k-timeline-vertical.k-timeline-alternating{
  width: 100%;
}
.k-timeline .k-timeline-flag, .k-timeline-circle {
  background-color: var(--icon-color) !important;
}

@media (min-width: 1400px) {
  .refrences{
    grid-template-columns: repeat(2, minmax(0, 2fr)) !important;
  }
  .parag-parent{
    line-height: 2rem;
    font-size: 1rem;
    /* padding: 2rem; */
  }
  .parag-parent ul{
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1200px){
  .css-zipzvv{
    white-space: initial !important;
  }
  .timeline-el{
   padding-top: 0 !important;
  }
}
@media (max-width: 768px) {
  .k-timeline .k-timeline-date{
    display: none;
  }
  .css-zipzvv{
    white-space: initial !important;
    width: 100% !important;
  }
  .k-timeline-vertical{
    padding-left: 2rem !important;
    width: 100%;
    }
    .k-card .k-card-inner {
      width: 80%;
  }
    .k-timeline-vertical.k-timeline-alternating {
      padding: 0px !important;
  }
  .k-card-image{
    padding: 0rem;
  }

}